<header>
    <nav class="rose" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container-desktop" href="/" class="brand-logo hide-on-med-and-down"><%= NAME %></a>
        <div id="logo-container-mobile" class="brand-logo hide-on-large-only"><%= NAME %></div>

        <% pageTitles.slice().reverse().forEach(function(pageTitle) { %>
          <ul class="right hide-on-med-and-down">
            <li class="<%= title === pageTitle ? 'mint darken' : '' %>">
              <a href="<%= pageTitle === HOME ? '/' : '/' + pageTitle.toLowerCase() %>">
                <%= pageTitle %>
              </a>
            </li>
          </ul>
        <% }); %>

        <ul id="nav-mobile" class="sidenav">
          <% pageTitles.forEach(function(pageTitle) { %>
            <li>
              <a class="<%= title === pageTitle ? 'mint-text darken' : '' %>"
                 href="<%= pageTitle === HOME ? '/' : '/' + pageTitle.toLowerCase() %>">
                <%= pageTitle %>
              </a>
            </li>
          <% }); %>
        </ul>
        <a href="/" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

      </div>
    </nav>
</header>
