<!DOCTYPE html>
<html lang="en">

<%- include('ejs/partials/head', {title: BALLROOM}); %>

<body>

  <%- include('ejs/partials/header', {title: BALLROOM}); %>

  <main>
    <%- include('ejs/partials/placeholder', {title: BALLROOM, icon: "nightlife"}); %>

    <!-- see here: https://materializecss.com/media-css.html -->

    <!-- <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MTKQfgB0pI0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div> -->

  <div class="container">
    <div class="section">

      <div class="row">

        <!-- La Vida Es Un Carnaval -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IoL9ePv_KJc"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <!-- If I Fell -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/F7e3B64p6IE"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <!-- 7 Rings -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MTKQfgB0pI0"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <!-- Smooth Operator -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/T_4R-HtbCHo"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <!-- You Make Me Feel So Young -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/R2TtygMFEqs"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

        <!-- Rie y Llora -->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/yMYIYsKbLLg"
                  title="YouTube video player" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <br><br>
  </div>


  </main>

  <%- include('ejs/partials/footer'); %>
  <%- include('ejs/partials/scripts'); %>

</body>

</html>
