<!DOCTYPE html>
<html lang="en">

<%- include('ejs/partials/head', {title: "Contact"}); %>

<body>

  <%- include('ejs/partials/header'); %>

  <main>
    <%- include('ejs/partials/placeholder', {title: "Contact", icon: "email"}); %>
  </main>

  <%- include('ejs/partials/footer'); %>
  <%- include('ejs/partials/scripts'); %>

</body>

</html>
