<!DOCTYPE html>
<html lang="en">

<%- include('ejs/partials/head', {title: DRAWING}); %>

<body>

  <%- include('ejs/partials/header', {title: DRAWING}); %>

  <main>
    <%- include('ejs/partials/sectionIntro', {title: DRAWING, introText: "DAGA KOTOWARU"}); %>
    <div class="row">
      <% drawings.forEach(function(category) { %>
        <h5 class="center" style="padding-top:2vh"><%= category.medium %></h5>
        <hr style="width: 45%;">
        <div class="row center">
          <% category.images.forEach(function(imageName) { %>
            <a href=<%= '/' + category.baseDir + imageName %> target="_blank">
              <img style="max-height: 40vh; max-width: 100%; height: auto; width: auto; padding: 4px;" src=<%= category.baseDir + imageName %> alt=<%= imageName %>>
            </a>
          <% }); %>
        </div>
      <% }); %>
    </div>
  </main>

  <%- include('ejs/partials/footer'); %>
  <%- include('ejs/partials/scripts'); %>

</body>

</html>
