<!DOCTYPE html>
<html lang="en">

<%- include('ejs/partials/head', {title: HOME}); %>

<body>

  <%- include('ejs/partials/header', {title: HOME}); %>

  <main>
    <%- include('ejs/partials/sectionIntro', {title: "Hello!", introText: "I hope you have a reason to smile today :)"}); %>
    <div class="center">
      <img style="height: 40vh; padding: 4px;" src="/images/mary.jpg" alt="A photo of an alpaca with Mary in the foreground!">
    </div>
  </main>


  <%- include('ejs/partials/footer'); %>

  <%- include('ejs/partials/scripts'); %>

</body>

</html>
