<!DOCTYPE html>
<html lang="en">

<%- include('ejs/partials/head', {title: PIANO}); %>

<body>

  <%- include('ejs/partials/header', {title: PIANO}); %>

  <main>
    <%- include('ejs/partials/placeholder', {title: PIANO, icon: "piano"}); %>

    <div class="container">
      <div class="section">
        <!-- TODO: refactor this block as needed after updating the `videoCard` partial -->
        <div class="row">
          <% pianoVideos.forEach(function(video) { %>
            <%- include('ejs/partials/videoCard', {title: video.title, src: video.embedLink}); %>
          <% }); %>
        </div>
      </div>
      <br><br>
    </div>

  </main>

  <%- include('ejs/partials/footer'); %>
  <%- include('ejs/partials/scripts'); %>

</body>

</html>
